@font-face {
  font-family: "GenshinFont";
  src: url("/src/assets/zh-cn.ttf") format("truetype");
}

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
	height: 90vh;
	margin: 5vh 0vh;
  font-family: "GenshinFont", sans-serif;
}

.homepage-image {
  height: 50%;
  object-fit: contain;
}

.title {
  margin-top: 3vh;
  height: 1%;
  font-size: 1.1em;
	font-weight: lighter;
}

.synopsis-container {
  background-image: url("/src/assets/homepage/BlueBG.png");
	background-size: contain;
  background-repeat: no-repeat; 
  background-position: center; 
  object-fit: contain;
  height: 25%;
  width: 90%;
  max-width: 25em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.synopsis {
  padding: 0vh 4vh;
  font-size: clamp(0.6em, 0.6vw, 1em);
	line-height: 1.6;
  max-width: 80%;
}

.homepage-button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
	margin-top: 1vh;
}

.button-image {
  width: 75%;
  max-width: 17em;
}
