.image-container img {
  width: 35%;
  display: block;
  margin: 0 auto;
}

/* Media query pour les petits écrans (max-width: 768px est commun pour les téléphones et tablettes) */
@media only screen and (max-width: 768px) {
  .image-container img {
      width: 100%; /* Les images prennent toute la largeur de l'écran sur les petits écrans */
  }
}

