body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  text-align: center;
}

/* Style des boutons */
.navigation {
  margin: 20px 0;
}

button, select {
  padding: 10px 20px;
  font-size: 16px;
  margin: 5px;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

select {
  font-size: 16px;
}
